<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>STUDENT</title>
</head>
<body>
<div>
  <H1>STUDENT</H1>

  <div class="left_col">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/teacher">Teacher</a></li>
      <li><a href="/subject">Subject</a></li>
      <li><a href="/student">Student</a></li>
      <!-- <li><a href="/addresses">Addresses</a></li> -->
    </ul>
  </div>

  <table >
    <tr>
      <th>ID</th>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>CREATE AT</th>
      <th>UPDATE AT</th>
      <th>EMAIL</th>

    </tr>
      <% for(let data=0; data<data_StudentsToEjs.length; data++) {%>
        <tr>
          <td><%= data_StudentsToEjs[data].id %></td>
          <td><%= data_StudentsToEjs[data].first_name %></td>
          <td><%= data_StudentsToEjs[data].last_name %></td>
          <td><%= data_StudentsToEjs[data].createdAt %></td>
          <td><%= data_StudentsToEjs[data].updatedAt %></td>
          <td><%= data_StudentsToEjs[data].email %></td>
        </tr>
      <%}%>
  </table>


</div>
</body>
</html>
