<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/style/bulma.min.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/style/custom.css" type="text/css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <title>STUDENTS</title>
</head>
<body>
<div class="content">

  <div style="a:2px; text-align:left; margin-bottom:25px;">
    <H1 style="margin-bottom:13px;">All Students Data</H1>
    <% include assets/partials/menu %>
  </div>

  <table class="table is-striped">
    <tr>
      <th><abbr title="Position">ID</abbr></th>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>EMAIL</th>
      <th>OPTIONS</th>

    </tr>
      <% for(let data=0; data<data_StudentsToEjs.length; data++) {%>
        <tr>
          <th><%= data_StudentsToEjs[data].id %></th>
          <td><%= data_StudentsToEjs[data].first_name %></td>
          <td><%= data_StudentsToEjs[data].last_name %></td>
          <td style="color:#00d1b2;"><%= data_StudentsToEjs[data].email %></td>
          <td style="margin-left:-5px;">
            <a class="button is-info is-outlined is-small" href='students/edit/<%=data_StudentsToEjs[data].id%>'>
              <span>Edit</span>
              <span class="icon is-small">
                <i class="fa fa-pencil"></i>
              </span>
            </a>
            <a onclick="myFunction()" class="button is-danger is-outlined is-small" href="students/delete/<%=data_StudentsToEjs[data].id%>" >
              <span>Delete</span>
              <span class="icon is-small">
                <i class="fa fa-times"></i>
              </span>
            </a>
          </td>
          <!-- <td style="margin-left:-5px;"><a style="text-decoration: none;" href='students/edit/<%=data_StudentsToEjs[data].id%>'>Edit</a> <a>|</a> <a style="text-decoration: none;" href="students/delete/<%=data_StudentsToEjs[data].id%>" onclick="myFunction()">Delete</a></td> -->

        </tr>
      <%}%>
  </table>

  <div style="text-align:left; margin-top:35px;">
    <a class="button is-outlined" href='/students/add'>add student</a>
  </div>

</div>

<script>
function myFunction() {
    confirm("are you sure?!");
    // swal ( "Oops" ,  "Something went wrong!" ,  "error" )
    swal({
      icon: "success",
    });
}
</script>
</body>
</html>
