<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>STUDENT</title>

  <style>

  * {
    margin: 0px;
    padding: 0px;
    }

  .content {
      background-color: white;
      width: 1080px;
      min-height: 700px;
      /*border:1px solid red;*/
      margin: 0 auto 0 auto;
      padding-top:160px;
  }

  body {
      /*color: #73879C;*/
      color : black;
      /*background: #2A3F54;*/
      font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
      /*font-size: 13px;*/
      font-weight: 400;
      line-height: 1.471;
  }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}
    a{
      text-decoration: none;
        margin :10px;
    }


</style>

</head>
<body>
<div class="content">

  <div style="text-align:center; margin-bottom:35px;">
    <H1 style="margin-bottom:13px;">All Subject Data</H1>
    <a href="/">Home</a></li>
    <a href="/teacher">Teacher</a>
    <a href="/subject">Subject</a></li>
    <a href="/students">Students</a></li>
  </div>


    <table >
    <tr>
      <th>ID</th>
      <th>SUBJECT NAME</th>
      <th>TEACHER</th>
      <!-- <th>OPTION</th> -->

    </tr>
      <% for(let data=0; data<data_SubjectToEjs.length; data++){%>

    <tr>
      <td><%= data_SubjectToEjs[data].id %></td>
      <td><%= data_SubjectToEjs[data].subject_name %></td>
      <td>
        <ol>
      <% for(let i=0; i<data_SubjectToEjs[data].Teachers.length; i++){%>
        <li>
        <%= data_SubjectToEjs[data].Teachers[i].first_name %>
        </li>
      <%}%>
        </ol>
      </td>
      <!-- <td><%= data_SubjectToEjs[data].updatedAt %></td> -->
      <!-- <td style="margin-left:-5px;"><a style="text-decoration: none;" href="subject/delete/<%=data_SubjectToEjs[data].id%>" onclick="myFunction()">Delete</a></td> -->
    </tr>

      <%}%>
  </table>


</div>
<script>
  function myFunction() {
    confirm("Delete this Teacher ?");
  }
</script>
</body>
</html>
