<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>STUDENT</title>

  <style>

  * {
    margin: 0px;
    padding: 0px;
    }

  .content {
      background-color: white;
      width: 1080px;
      min-height: 700px;
      /*border:1px solid red;*/
      margin: 0 auto 0 auto;
      padding-top:160px;
  }

  body {
      /*color: #73879C;*/
      color : black;
      /*background: #2A3F54;*/
      font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
      /*font-size: 13px;*/
      font-weight: 400;
      line-height: 1.471;
  }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}
    a{
      text-decoration: none;
        margin :10px;
    }


</style>

</head>
<body>
<div class="content">

  <div style="text-align:center; margin-bottom:35px;">
    <H1 style="margin-bottom:13px;">All Teachers Data</H1>
    <a href="/">Home</a></li>
    <a href="/teacher">Teacher</a>
    <a href="/subject">Subject</a></li>
    <a href="/students">Students</a></li>
  </div>

  <table >
    <tr>
      <th>ID</th>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <!-- <th>CREATE AT</th> -->
      <!-- <th>UPDATE AT</th> -->
      <th>EMAIL</th>
      <th>SUBJECT</th>
      <th>OPTIONS</th>

    </tr>
      <% for(let data=0; data<data_TeachersToEjs.length; data++) {%>
    <tr>
      <td><%= data_TeachersToEjs[data].id %></td>
      <td><%= data_TeachersToEjs[data].first_name %></td>
      <td><%= data_TeachersToEjs[data].last_name %></td>
      <td><%= data_TeachersToEjs[data].email %></td>
      <% let subject='' %>
      <% if(data_TeacherToEjs.SubjectId){ %>
      <% subject = data_SubjectToEjs.subject_name %>
      <% } else { %>
      <% subject='unassigned' %>
      <% }%>
      <td><%=subject%></td>
      <td style="margin-left:-5px;"><a style="text-decoration: none;" href='teacher/edit/<%=data_TeachersToEjs[data].id%>'>Edit</a> <a>|</a> <a style="text-decoration: none;" href="teacher/delete/<%=data_TeachersToEjs[data].id%>" onclick="myFunction()">Delete</a></td>

    </tr>
      <%}%>
  </table>

  <div style="text-align:center; margin-top:35px;">
    <a href='/teacher/add'>add teacher</a>
  </div>


</div>

<script>
  function myFunction() {
    confirm("Delete this Teacher ?");
  }
</script>
</body>
</html>
